@{
    ViewData["Title"] = "ParkDataJS";
}

<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 class="display-4">Javascript Parks</h1>
        <form>
            <input id="searchBox" />
            <button id="submitButton" style="display: none;"></button>
        </form>
        <br />
        <div id="parksList">

        </div>

        <script src="/js/parks.js"></script>
    </body>
</html>